<header id="header" class="header-wrapper s_12_of_12">
  <div class="header primgrey">
    <div class="section group header-topblock">
      
      <div class="logo left">
        <a href="{{ routes.root_url }}">
          {% if section.settings.logo %}
            <img src="{{ section.settings.logo | img_url: 'master' }}" width="223" alt="{{ shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>

      <div class="sokrutan left">
        <form action="{{ routes.search_url }}" method="get" role="search">
          <input type="text" name="q" placeholder="Search product, category or brand" id="rlws_search_input" value="{{ search.terms | escape }}">
          <button type="submit" class="searchicon fa-search" id="rlws_search_icon"></button>
        </form>
      </div>

      <div class="right rightsection">
        <div id="kundvagn" class="right">
          <a href="{{ routes.cart_url }}" class="Cart left">
            <div class="Varukorg PoP" title="Show cart">
              <span class="AIRvarukorg-Arrow" style="display: none;"></span>
              <span class="AIRvarukorg-Qty">{{ cart.item_count }}</span>
            </div>
          </a>
        </div>
        
        {% if shop.customer_accounts_enabled %}
          <div class="inlogicon inloggning right" title="Login">
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
              <span>{% if customer %}Account{% else %}Login{% endif %}</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <nav class="prodmeny nav group">
    <ul class="niva1">
      {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links != blank %}
            <i class="arrow-down"></i>
            <ul class="child-ul niva2">
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                  {% if childlink.links != blank %}
                    <ul class="child-ul niva3">
                      {% for grandchildlink in childlink.links %}
                        <li><a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>